@import "tailwindcss";
@plugin "daisyui";

@keyframes slow-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.animate-slow-zoom {
  animation: slow-zoom 15s ease-in-out infinite alternate;
}
